:root{
  --primary-blue: #00447D;
  --border-radius-xl: 20px;
  --box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  --card-background: #fff;
}
.card {
  margin: 20px;
}
.card-header {
  display: flex;
  padding: 16px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.right-side-header {
  display: flex;
  align-items: center;
  gap: 5px;
}
.chevron-icon {
  width: clamp(24px, 3vw, 32px);
  height: clamp(24px, 3vw, 32px);
  flex-shrink: 0;
  flex-grow: 0;
  aspect-ratio: 1/1;
  min-width: 24px;
  min-height: 24px
}
.title{
  color: var(--primary-blue);
  font-size: clamp(24px, 4vw, 32px);
  font-weight: 700;
  line-height: normal;
}
.code{
  color: var(--primary-blue);
  font-size: clamp(14px, 3vw, 24px);
  font-weight: 600;
  line-height: normal;
  white-space: nowrap;
  margin-right: auto;
}
.card-content {
  padding: 70px 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.section {
  display: flex;               
  gap: 10px;                  
  width: auto;
  flex-wrap: wrap;
  min-height: 195px;
  height: auto;
  min-height: 161px;
}
.card_1, .card_2 {
  display: inline-flex;         
  flex-direction: column; 
  min-width: 50%;
  flex: 1 1 calc(50% - 5px);
  width: auto;                
  min-width: 187px;       
  box-sizing: border-box;      
  max-width: calc(50% - 5px);          
  padding: 10px 15px;
  background-color: var(--card-background);
  border-radius: var(--border-radius-xl);
  box-shadow: var(--box-shadow);
}
.card_3, .card_4, .card_5,
.card_6, .card_7, .card_8, 
.card_9 {
  display: inline-flex;         
  flex-direction: column; 
  min-width: 100%;
  width: auto;                
  box-sizing: border-box;      
  padding: 10px 15px;
  background-color: var(--card-background);
  border-radius: var(--border-radius-xl);
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.section-title {
  margin-bottom: 5px;
  color: #9D9D9D;
  text-align: right;
  font-family: "Lama Sans";
  font-size: clamp(16px, 3vw, 24px);
  font-weight: 600;
  line-height: normal;
}
.section-content {
  overflow: wrap;
  width: auto;
  word-wrap: break-word;      
  overflow-wrap: break-word;   
  white-space: normal;
  color: #232323;
  text-align: right;
  font-size: clamp(12px, 2vw, 20px);
  font-style: normal;
  font-weight: 600;
  padding: 10px;
  line-height: normal;
}
@media (max-width: 768px) {
  .card-header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 10px 0 0;
  }
  .right-side-header {
    order: 1;
    width: 100%;
  }
  .code {
    order: 2;
    width: 100%;
    text-align: right; 
    margin: 15px 30px 30px;
  }
  .card-content {
    padding: 0;
  }
}