.card {
  margin: 20px;
}
.card-header {
  display: flex;
  padding: 16px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.right-side-header {
  gap: 5px;
  display: flex;
  align-items: center;
}
.chevron-icon {
  flex-grow: 0;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  width: var(--chevron-icon-width-height);
  height: var(--chevron-icon-width-height);
}
.card-content {
  gap: 12px;
  display: flex;
  padding: 70px 15px;
  flex-direction: column;
}
.section {
  gap: 10px;                  
  width: auto;
  height: auto;
  display: flex;               
  flex-wrap: wrap;
  min-height: 195px;
  min-height: 161px;
}
.card_1, .card_2 {
  width: auto;                
  min-width: 50%;
  min-width: 187px;  
  padding: 10px 15px;
  display: inline-flex;         
  flex-direction: column; 
  box-sizing: border-box;      
  flex: 1 1 calc(50% - 5px);
  max-width: calc(50% - 5px);       
  box-shadow: var(--box-shadow);
  background-color: var(--background);
  border-radius: var(--border-radius-xl);
}
.card_3, .card_4, .card_5,
.card_6, .card_7, .card_8, 
.card_9 {
  width: auto;    
  min-width: 100%;
  padding: 10px 15px;
  display: inline-flex;         
  flex-direction: column; 
  box-sizing: border-box;      
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-xl);
  background-color: var(--background);
}
.section-title {
  font-weight: 600;
  text-align: right;
  margin-bottom: 5px;
  line-height: normal;
  font-family: "Lama Sans";
  color: var(--medium-gray);
  font-size: clamp(16px, 3vw, 24px);
}
.section-content {
  width: auto;
  padding: 10px;
  overflow: wrap;
  font-weight: 600;
  text-align: right;
  font-style: normal;
  white-space: normal;
  line-height: normal;
  word-wrap: break-word;   
  color: var(--dark-gray);
  overflow-wrap: break-word;   
  font-size: clamp(12px, 2vw, 20px);
}
@media (max-width: 768px) {
  .right-side-header {
    order: 1;
    width: 100%;
  }
  .code {
    order: 2;
    width: 95%;
    margin-top: 15px;
    text-align: right; 
    align-items: right;
    padding-right: 28px;
  }
  .card-content {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .card-header {
    flex-direction: column;
    padding: 10px 10px 0 0;
    align-items: flex-start;
  }
}