.card {
    margin: 20px;
}
.card-header {
    display: flex;
    padding: 10px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.chevron-icon {
    flex-grow: 0;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    width: clamp(20px, 3vw, 32px);
    height: clamp(20px, 3vw, 32px);
}
.card-content {
  gap: 12px;
  display: flex;
  padding: 70px 15px;
  flex-direction: column;
}
.section {
  width: auto;
  height: auto;
  flex-shrink: 0;
  flex-wrap: wrap;
  min-height: 195px;
  padding: 10px 15px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  background-color: var(--background);
}
.section-title {
  font-weight: 600;
  text-align: right;
  margin-bottom: 5px;
  line-height: normal;
  color: var(--medium-gray);
  font-size: clamp(16px, 3vw, 24px);
}
.section-content {
  width: auto;
  padding: 10px;
  overflow: wrap;
  font-weight: 600;
  text-align: right;
  font-style: normal;
  white-space: normal;
  line-height: normal;
  word-wrap: break-word; 
  color: var(--dark-gray);
  overflow-wrap: break-word;   
  font-size: clamp(12px, 2vw, 20px);
}
@media (max-width: 768px) {
  .code {
    order: 2;
    width: 95%;
    margin-top: 15px;
    text-align: right; 
    align-items: right;
    padding-right: 28px;
  }
  .card-content {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .card-header {
    flex-direction: column;
    padding: 10px 10px 0 0;
    align-items: flex-start;
  }
}