.card {
    margin: 20px;
}
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: nowrap;
}
.chevron-icon {
    width: clamp(20px, 3vw, 32px);
    height: clamp(20px, 3vw, 32px);
    flex-shrink: 0;
    flex-grow: 0;
    aspect-ratio: 1/1;
    min-width: 24px;
    min-height: 24px
}
.title{
    color: #00447D;
    font-size: clamp(10px, 3vw, 32px);
    font-weight: 700;
    line-height: normal;
    white-space: nowrap;
}
.code{
    color: #00447D;
    font-size: clamp(4px, 2vw, 24px);
    font-weight: 600;
    line-height: normal;
    white-space: nowrap;
    margin-right: auto;
}
.card-content {
  padding: 70px 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section {
  display: flex;              
  gap: 10px;
  width: auto;
  flex-wrap: wrap;
  min-height: 155px;
  height: auto;
  min-height: 161px;
}
.card_6,
.card_15,
.card_20 {
  display: inline-flex;         
  flex-direction: column; 
  min-width: 100%;
  width: auto;                
  box-sizing: border-box;      
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.card_7, .card_8, .card_9, .card_10 {
  display: inline-flex;         
  flex-direction: column; 
  min-width: 50px;
  flex: 1 1 calc((100%/4) - 8px);
  width: auto;                
  min-width: 10px;       
  box-sizing: border-box;      
  max-width: calc((100%/4) - 8px);          
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.card_11, .card_12,
.card_13, .card_14,
.card_16, .card_17,
.card_18, .card_19 {
  display: inline-flex;         
  flex-direction: column; 
  min-width: 50%;
  flex: 1 1 calc(50% - 5px);
  width: auto;                
  min-width: 10px;       
  box-sizing: border-box;      
  max-width: calc(50% - 5px);          
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.card_21, .card_22, .card_23 {
  display: inline-flex;         
  flex-direction: column; 
  min-width: 50%;
  flex: 1 1 calc((100%/3) - 7px);
  width: auto;                
  min-width: 10px;       
  box-sizing: border-box;      
  max-width: calc((100%/3) - 7px);          
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  transition: background-color 0.3s ease, transform 0.2s ease;
} 
.section-title {
  margin-bottom: 5px;
  padding: 5px;
  color: #9D9D9D;
  text-align: right;
  font-family: "Lama Sans";
  font-size: clamp(16px, 3vw, 24px);
  font-weight: 600;
  line-height: normal;
}
.section-content {
  overflow: wrap;
  width: auto;
  word-wrap: break-word;      
  overflow-wrap: break-word;   
  white-space: normal;
  color: #232323;
  text-align: right;
  font-size: clamp(12px, 2vw, 18px);
  font-style: normal;
  font-weight: 600;
  padding-top: 5px;
  padding-right: 5px;
  line-height: normal;
}
ol{
    padding-right: 20px; 
    margin-bottom: 10px; 
    margin: 0;
    padding-bottom: 5px;
}
li{
    padding-bottom: 10px;
}
.card_17 .section-content ol, .card_18 .section-content ul {
    display: flex;         
    flex-wrap: wrap;       
}
.card_17 .section-content li, .card_18 .section-content li {
    flex: 1 1 calc(50% - 15px); 
    max-width: calc(50% - 15px);  
}
.card_17 .section-content li{
    margin-left: 15px;
}
.section-content ul {
    display: flex;
    flex-wrap: wrap;       
    list-style-type: none; 
    padding: 0;            
    margin: 0;             
}
.card_18 .section-content li, .card_19 .section-content li, .card_21 .section-content li {
    flex: 1 1 calc(50% - 15px); 
    max-width: calc(50% - 15px); 
    margin-bottom: 10px; 
    position: relative; 
    padding-right: 15px; 
}
.card_18 .section-content li::before, .card_19 .section-content li::before, .card_21 .section-content li::before {
    content: "-"; 
    position: absolute;
    right: 0;
    top: 0;
    font-weight: bold;
    color: inherit; 
}
.section1 .section-title{
    padding-top:30px; 
    font-size: clamp(22px, 2vw, 32px);
}
.section1 .section-content{
    font-size: clamp(10px, 2vw, 20px); 
    color: #9D9D9D;
}
