.framework-container {
    width: 100%;
}
.framework-header {
    height: 100px;
    display: flex;
    flex-shrink: 0;
    margin-bottom: 40px; 
    align-items: center;
    background-color: var(--primary-blue);
}
.header-title {
    padding: 30px;
    font-weight: 700;
    text-align: right;
    font-style: normal;
    line-height: normal;
    color: var(--background);
    font-size: clamp(24px, 3vw, 32px);
}
.title-group, .content {
    gap: 10px; 
    display: flex;
}
.first-line {
    gap: 10px;
    padding: 10px;
    display: grid;
    margin-bottom: 40px;
    grid-template-columns: repeat(4, 1fr);
}
.second-line {
    gap: 10px;
    width: 1150px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    grid-template-columns: repeat(3, 1fr);
}
.second-line .value-card{
    width: 328px;
}
.value-card {
    margin: 0; 
    height: auto;
    flex-grow: 1; 
    padding: 25px;
    display: block; 
    min-height: 241px;
    border-radius: 20px;
    padding-bottom: 15px;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    background-color: var(--background);
}
.value-title {
    margin: 0;
    flex-grow: 1; 
    margin-top: 0;
    display: block; 
    font-weight: 700;
    margin-bottom: 10px;
    padding-bottom: 5px;
    color: var(--primary-blue);
    font-size: clamp(18px, 3vw, 20px);
}
.line{
    width: 1px;
    min-height: 160px;
    margin-right: 13px;
    background: var(--dark-gray);
}
.value-text {
    margin: 10px;
    color: #333;
    font-weight: 500;
    line-height: 20px;
    font-style: normal;
    font-size: clamp(10px, 3vw, 13px);
}
.mission-vision-section {
    margin: 20px;
    display: block;
    margin-bottom: 40px;
}
.vision-card, .mission-card, .list {
    padding: 20px;
    align-self: flex-start; 
}
.card-header {
    gap: 10px;
    display: flex;
    justify-content: flex-start;
}
.section-heading {
    margin: 0;
    font-weight: 700;
    color: var(--primary-blue);
    font-size: clamp(18px, 3vw, 24px);
}
.heading-icon {
    font-size: 1.2em;
}
.mission-intro, .vision-text, .title {
    width: auto;
    margin-top: 0;
    font-weight: 600;
    text-align: right;
    line-height: 30px;
    font-style: normal;
    color: var(--dark-gray);
    font-size: clamp(12px, 2vw, 20px);
}
.mission-list {
    width: auto;
    display: flex;
    height: 200px;
    flex-wrap: wrap;
    list-style: none; 
    margin-right: 80px;
    flex-direction: column;
    align-content: flex-start;
    counter-reset: mission-counter;
}
.mission-list li {
    gap: 5px; 
    width: 50%; 
    display: flex;
    flex: 0 0 auto;
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 20px;
    align-items: flex-start;
    counter-increment: mission-counter;
}
.mission-list li::before {
    width: 28px;
    height: 28px;
    flex-shrink: 0; 
    font-size: 15px;
    color: #F44336; 
    margin-left: 15px;
    border-radius: 50%;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    content: counter(mission-counter);
    background-color: var(--background); 
}
.list-title{
    font-size: 24px;
    font-weight: 600;
    color: #76A488;
    line-height: 30px;
    text-align: right;
    font-style: normal;
}
.accordion-content {
    max-height: 0;
    padding-top: 0; 
    overflow: hidden;
    margin-top: 10px;
    transition: max-height 0.3s ease-out;
}
.list.open .accordion-content {
    max-height: 500px;
}
.arrow-icon {
    cursor: pointer;
    display: inline-block;
    transition: transform 0.3s ease;
}
.list.open .arrow-icon {
    transform: rotate(-90deg);
}